# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment
.env

# Project Specific
roadmap.md

# IDEs
.vscode/
.idea/

# Docker
.docker_volumes/
